.canvas {
    position: relative;

    width: 500px;
    height: 380px;
    margin: 80px 0 0 0;

    transition: .3s ease;

    perspective: 800px;
}

.box_front {
    position: relative;

    overflow: hidden;

    width: 500px;
    height: 380px;

    background: skyblue;
    box-shadow: 0 -400px 300px -300px steelblue inset;
}

.ship::after {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100px;
    height: 20px;

    content: '';

    border-radius: 0 0 0 20px;
    background: #e25c45;
}

.ship::before {
    position: absolute;
    top: 0;
    left: 10px;

    width: 65px;
    height: 16px;

    content: '';

    border-radius: 20px 0 0 0;
    background: #fff;
}

.ship {
    position: absolute;
    right: 0;
    bottom: 30px;

    width: 100px;
    height: 36px;
}

.ship_smokestack {
    position: absolute;
    bottom: 36px;
    left: 45px;

    width: 10px;
    height: 17px;

    background: #a18e6e;
}

.ship_window {
    position: absolute;
    top: 6px;
    left: 40px;

    width: 7px;
    height: 7px;

    border-radius: 50%;
    background: #a18e6e;
    box-shadow: 13px 0 0 0 #a18e6e, -13px 0 0 0 #a18e6e;
}

.smoke div {
    position: absolute;

    width: 7px;
    height: 7px;

    border-radius: 50%;
    background: #fff;
}

.smoke-1 {
    top: -25px;
    right: 44px;
}

.smoke-2 {
    top: -25px;
    right: 42px;
}

.smoke-3 {
    top: -25px;
    right: 49px;
}

.sun {
    position: absolute;
    top: 30px;
    right: 50%;

    width: 80px;
    height: 80px;

    border-radius: 50%;
    background: #ffcf11;
    box-shadow: 0 0 100px #ffdf05;
}

.sun-wrapper {
    position: absolute;

    width: 100%;
    height: 100%;

    transform-origin: bottom center;
}

.sun div {
    position: absolute;
    top: -20px;
    left: 50%;

    width: 2px;
    height: 100px;
    margin-left: -1px;

    border: solid #ffcf11;
    border-width: 10px 0 10px 0;
}

.sun div:nth-child(2) {
    transform: rotate(18deg);
}

.sun div:nth-child(3) {
    transform: rotate(36deg);
}

.sun div:nth-child(4) {
    transform: rotate(54deg);
}

.sun div:nth-child(5) {
    transform: rotate(72deg);
}

.sun div:nth-child(6) {
    transform: rotate(90deg);
}

.sun div:nth-child(7) {
    transform: rotate(-18deg);
}

.sun div:nth-child(8) {
    transform: rotate(-36deg);
}

.sun div:nth-child(9) {
    transform: rotate(-54deg);
}

.sun div:nth-child(10) {
    transform: rotate(-72deg);
}

.cloud {
    position: absolute;
    left: -180px;

    width: 200px;
    height: 60px;

    opacity: .8;
    border-radius: 200px;
    background: #fff;
}

.cloud:before,
.cloud:after {
    position: absolute;
    top: -15px;
    left: 10px;

    width: 100px;
    height: 80px;

    content: '';

    border-radius: 100px;
    background: #fff;
}

.cloud:after {
    top: -55px;
    right: 15px;
    left: auto;

    width: 120px;
    height: 120px;
}

.cloud-1 {
    top: 10px;
}

.cloud-2 {
    top: 50px;
}

.cloud-3 {
    top: 100px;
}

.cloud-4 {
    top: 170px;
}

.sea {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 40px;

    opacity: .8;
    background: #2a94d6;
}

.sea::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 10px;

    content: '';

    background: #1d7fbb;
}

.sun{
  animation: sun 117s linear;
}
@keyframes sun {
  0%       {transform: translate(33px, 333px) rotate(-155deg) translateX(340px) rotate(0deg);}
  50%      {transform: translate(33px, 333px) rotate(0deg) translateX(340px) rotate(1000deg);}
  50.0001% {transform: translate(33px, 333px) rotate(0deg) translateX(340px) rotate(0deg);}
  100%     {transform: translate(33px, 333px) rotate(250deg) translateX(340px) rotate(1000deg);}
}

.box_front{
  animation: sky 117s linear;
}
@keyframes sky {
  0% {background: skyblue;}
  0% {box-shadow: 0 -400px 300px -300px steelblue inset;}
  48% {background: darkslateblue;}
  48% {box-shadow: 0 -400px 300px -300px orangered inset;}
  77% {background: darkslateblue;}
  77% {box-shadow: 0 -400px 300px -300px transparent inset;}
  100% {background: skyblue;}
  100% {box-shadow: 0 -400px 300px -300px steelblue inset;}
}

.ship{
  animation: ship 117s linear;
}
@keyframes ship {
  0% {transform: translate(175px, 0px);}
  50% {transform: translateX(-499px);}
  50.0001% {transform: translate(175px, 0px);}
  100% {transform: translateX(-499px);}
}

.smoke-1{
  animation: smoke_1 117s linear;
}
@keyframes smoke_1 {
  1%, 3%, 5%, 7%, 9%, 11%, 13%, 15%, 17%, 19%, 21%, 23%, 25%, 27%, 29%, 31%, 33%, 35%, 37%, 39%, 41%, 43%, 45%, 47%, 49%, 51%, 53%, 55%, 57%, 59%, 61%, 63%, 65%, 67%, 69%, 71%, 73%, 75%, 77%, 79%, 81%, 83%, 85%, 87%, 89%, 91%, 93%, 95%, 97%, 99% {transform: translateY(-25px) scale(1.5);}
  1%, 3%, 5%, 7%, 9%, 11%, 13%, 15%, 17%, 19%, 21%, 23%, 25%, 27%, 29%, 31%, 33%, 35%, 37%, 39%, 41%, 43%, 45%, 47%, 49%, 51%, 53%, 55%, 57%, 59%, 61%, 63%, 65%, 67%, 69%, 71%, 73%, 75%, 77%, 79%, 81%, 83%, 85%, 87%, 89%, 91%, 93%, 95%, 97%, 99% {opacity: 0;}
  1.0001%, 3.0001%, 5.0001%, 7.0001%, 9.0001%, 11.0001%, 13.0001%, 15.0001%, 17.0001%, 19.0001%, 21.0001%, 23.0001%, 25.0001%, 27.0001%, 29.0001%, 31.0001%, 33.0001%, 35.0001%, 37.0001%, 39.0001%, 41.0001%, 43.0001%, 45.0001%, 47.0001%, 49.0001%, 51.0001%, 53.0001%, 55.0001%, 57.0001%, 59.0001%, 61.0001%, 63.0001%, 65.0001%, 67.0001%, 69.0001%, 71.0001%, 73.0001%, 75.0001%, 77.0001%, 79.0001%, 81.0001%, 83.0001%, 85.0001%, 87.0001%, 89.0001%, 91.0001%, 93.0001%, 95.0001%, 97.0001%, 99.0001% {transform: translate(0px, 0px) scale(1);}
  1.0001%, 3.0001%, 5.0001%, 7.0001%, 9.0001%, 11.0001%, 13.0001%, 15.0001%, 17.0001%, 19.0001%, 21.0001%, 23.0001%, 25.0001%, 27.0001%, 29.0001%, 31.0001%, 33.0001%, 35.0001%, 37.0001%, 39.0001%, 41.0001%, 43.0001%, 45.0001%, 47.0001%, 49.0001%, 51.0001%, 53.0001%, 55.0001%, 57.0001%, 59.0001%, 61.0001%, 63.0001%, 65.0001%, 67.0001%, 69.0001%, 71.0001%, 73.0001%, 75.0001%, 77.0001%, 79.0001%, 81.0001%, 83.0001%, 85.0001%, 87.0001%, 89.0001%, 91.0001%, 93.0001%, 95.0001%, 97.0001%, 99.0001% {opacity: 1;}
  2%, 4%, 6%, 8%, 10%, 12%, 14%, 16%, 18%, 20%, 22%, 24%, 26%, 28%, 30%, 32%, 34%, 36%, 38%, 40%, 42%, 44%, 46%, 48%, 50%, 52%, 54%, 56%, 58%, 60%, 62%, 64%, 66%, 68%, 70%, 72%, 74%, 76%, 78%, 80%, 82%, 84%, 86%, 88%, 90%, 92%, 94%, 96%, 98%, 100% {transform: translateY(-25px) scale(1.6);}
  2%, 4%, 6%, 8%, 10%, 12%, 14%, 16%, 18%, 20%, 22%, 24%, 26%, 28%, 30%, 32%, 34%, 36%, 38%, 40%, 42%, 44%, 46%, 48%, 50%, 52%, 54%, 56%, 58%, 60%, 62%, 64%, 66%, 68%, 70%, 72%, 74%, 76%, 78%, 80%, 82%, 84%, 86%, 88%, 90%, 92%, 94%, 96%, 98%, 100% {opacity: 0;}
}
.smoke-2{
  animation: smoke_2 115.5s linear 1.5s;
}
@keyframes smoke_2 {
  1%, 3%, 5%, 7%, 9%, 11%, 13%, 15%, 17%, 19%, 21%, 23%, 25%, 27%, 29%, 31%, 33%, 35%, 37%, 39%, 41%, 43%, 45%, 47%, 49%, 51%, 53%, 55%, 57%, 59%, 61%, 63%, 65%, 67%, 69%, 71%, 73%, 75%, 77%, 79%, 81%, 83%, 85%, 87%, 89%, 91%, 93%, 95%, 97%, 99% {transform: translateY(-10px) scale(1.3);}
  1%, 3%, 5%, 7%, 9%, 11%, 13%, 15%, 17%, 19%, 21%, 23%, 25%, 27%, 29%, 31%, 33%, 35%, 37%, 39%, 41%, 43%, 45%, 47%, 49%, 51%, 53%, 55%, 57%, 59%, 61%, 63%, 65%, 67%, 69%, 71%, 73%, 75%, 77%, 79%, 81%, 83%, 85%, 87%, 89%, 91%, 93%, 95%, 97%, 99% {opacity: 0;}
  1.0001%, 3.0001%, 5.0001%, 7.0001%, 9.0001%, 11.0001%, 13.0001%, 15.0001%, 17.0001%, 19.0001%, 21.0001%, 23.0001%, 25.0001%, 27.0001%, 29.0001%, 31.0001%, 33.0001%, 35.0001%, 37.0001%, 39.0001%, 41.0001%, 43.0001%, 45.0001%, 47.0001%, 49.0001%, 51.0001%, 53.0001%, 55.0001%, 57.0001%, 59.0001%, 61.0001%, 63.0001%, 65.0001%, 67.0001%, 69.0001%, 71.0001%, 73.0001%, 75.0001%, 77.0001%, 79.0001%, 81.0001%, 83.0001%, 85.0001%, 87.0001%, 89.0001%, 91.0001%, 93.0001%, 95.0001%, 97.0001%, 99.0001% {transform: translate(0px, 0px) scale(1);}
  1.0001%, 3.0001%, 5.0001%, 7.0001%, 9.0001%, 11.0001%, 13.0001%, 15.0001%, 17.0001%, 19.0001%, 21.0001%, 23.0001%, 25.0001%, 27.0001%, 29.0001%, 31.0001%, 33.0001%, 35.0001%, 37.0001%, 39.0001%, 41.0001%, 43.0001%, 45.0001%, 47.0001%, 49.0001%, 51.0001%, 53.0001%, 55.0001%, 57.0001%, 59.0001%, 61.0001%, 63.0001%, 65.0001%, 67.0001%, 69.0001%, 71.0001%, 73.0001%, 75.0001%, 77.0001%, 79.0001%, 81.0001%, 83.0001%, 85.0001%, 87.0001%, 89.0001%, 91.0001%, 93.0001%, 95.0001%, 97.0001%, 99.0001% {opacity: 1;}
  2%, 4%, 6%, 8%, 10%, 12%, 14%, 16%, 18%, 20%, 22%, 24%, 26%, 28%, 30%, 32%, 34%, 36%, 38%, 40%, 42%, 44%, 46%, 48%, 50%, 52%, 54%, 56%, 58%, 60%, 62%, 64%, 66%, 68%, 70%, 72%, 74%, 76%, 78%, 80%, 82%, 84%, 86%, 88%, 90%, 92%, 94%, 96%, 98%, 100% {transform: translateY(-10px) scale(1.4);}
  2%, 4%, 6%, 8%, 10%, 12%, 14%, 16%, 18%, 20%, 22%, 24%, 26%, 28%, 30%, 32%, 34%, 36%, 38%, 40%, 42%, 44%, 46%, 48%, 50%, 52%, 54%, 56%, 58%, 60%, 62%, 64%, 66%, 68%, 70%, 72%, 74%, 76%, 78%, 80%, 82%, 84%, 86%, 88%, 90%, 92%, 94%, 96%, 98%, 100% {opacity: 0;}
  }
.smoke-3 {
  animation: smoke_3 116s linear 1s;
}
@keyframes smoke_3 {
  1%, 3%, 5%, 7%, 9%, 11%, 13%, 15%, 17%, 19%, 21%, 23%, 25%, 27%, 29%, 31%, 33%, 35%, 37%, 39%, 41%, 43%, 45%, 47%, 49%, 51%, 53%, 55%, 57%, 59%, 61%, 63%, 65%, 67%, 69%, 71%, 73%, 75%, 77%, 79%, 81%, 83%, 85%, 87%, 89%, 91%, 93%, 95%, 97%, 99% {transform: translateY(-20px) scale(2);}
  1%, 3%, 5%, 7%, 9%, 11%, 13%, 15%, 17%, 19%, 21%, 23%, 25%, 27%, 29%, 31%, 33%, 35%, 37%, 39%, 41%, 43%, 45%, 47%, 49%, 51%, 53%, 55%, 57%, 59%, 61%, 63%, 65%, 67%, 69%, 71%, 73%, 75%, 77%, 79%, 81%, 83%, 85%, 87%, 89%, 91%, 93%, 95%, 97%, 99% {opacity: 0;}
  1.0001%, 3.0001%, 5.0001%, 7.0001%, 9.0001%, 11.0001%, 13.0001%, 15.0001%, 17.0001%, 19.0001%, 21.0001%, 23.0001%, 25.0001%, 27.0001%, 29.0001%, 31.0001%, 33.0001%, 35.0001%, 37.0001%, 39.0001%, 41.0001%, 43.0001%, 45.0001%, 47.0001%, 49.0001%, 51.0001%, 53.0001%, 55.0001%, 57.0001%, 59.0001%, 61.0001%, 63.0001%, 65.0001%, 67.0001%, 69.0001%, 71.0001%, 73.0001%, 75.0001%, 77.0001%, 79.0001%, 81.0001%, 83.0001%, 85.0001%, 87.0001%, 89.0001%, 91.0001%, 93.0001%, 95.0001%, 97.0001%, 99.0001% {transform: translate(0px, 0px) scale(1);}
  1.0001%, 3.0001%, 5.0001%, 7.0001%, 9.0001%, 11.0001%, 13.0001%, 15.0001%, 17.0001%, 19.0001%, 21.0001%, 23.0001%, 25.0001%, 27.0001%, 29.0001%, 31.0001%, 33.0001%, 35.0001%, 37.0001%, 39.0001%, 41.0001%, 43.0001%, 45.0001%, 47.0001%, 49.0001%, 51.0001%, 53.0001%, 55.0001%, 57.0001%, 59.0001%, 61.0001%, 63.0001%, 65.0001%, 67.0001%, 69.0001%, 71.0001%, 73.0001%, 75.0001%, 77.0001%, 79.0001%, 81.0001%, 83.0001%, 85.0001%, 87.0001%, 89.0001%, 91.0001%, 93.0001%, 95.0001%, 97.0001%, 99.0001% {opacity: 1;}
  2%, 4%, 6%, 8%, 10%, 12%, 14%, 16%, 18%, 20%, 22%, 24%, 26%, 28%, 30%, 32%, 34%, 36%, 38%, 40%, 42%, 44%, 46%, 48%, 50%, 52%, 54%, 56%, 58%, 60%, 62%, 64%, 66%, 68%, 70%, 72%, 74%, 76%, 78%, 80%, 82%, 84%, 86%, 88%, 90%, 92%, 94%, 96%, 98%, 100% {transform: translateY(-20px) scale(2.1);}
  2%, 4%, 6%, 8%, 10%, 12%, 14%, 16%, 18%, 20%, 22%, 24%, 26%, 28%, 30%, 32%, 34%, 36%, 38%, 40%, 42%, 44%, 46%, 48%, 50%, 52%, 54%, 56%, 58%, 60%, 62%, 64%, 66%, 68%, 70%, 72%, 74%, 76%, 78%, 80%, 82%, 84%, 86%, 88%, 90%, 92%, 94%, 96%, 98%, 100% {opacity: 0;}
  }

.cloud.cloud-1 {
  animation: cloud_1 117s linear;
}
@keyframes cloud_1 {
  0%       {transform: scaleX(-1) scale(.4) translateX(0px) translateY(0px);}
  4%       {transform: scaleX(-1) scale(.4) translateX(0px) translateY(100px);}
  30%      {transform: scaleX(-1) scale(.4) translateX(-1700px) translateY(100px);}
  30.0001% {transform: scaleX(-1) scale(.4) translateX(0px) translateY(100px);}
  60%      {transform: scaleX(-1) scale(.4) translateX(-1700px) translateY(100px);}
  60.0001% {transform: scaleX(-1) scale(.4) translateX(0px) translateY(100px);}
  100%     {transform: scaleX(-1) scale(.4) translateX(-1500px) translateY(100px);}
}
.cloud.cloud-2 {
  animation: cloud_2 117s linear;
}
@keyframes cloud_2 {
  0%        {transform: scale(.3) translateX(1200px) translateY(-150px);}
  10%       {transform: scale(.3) translateX(3500px) translateY(-150px);}
  10.00001% {transform: scale(.3) translateX(0px) translateY(-150px);}
  50%       {transform: scale(.3) translateX(3500px) translateY(-150px);}
  50.00001% {transform: scale(.3) translateX(0px) translateY(-150px);}
  100%      {transform: scale(.3) translateX(3500px) translateY(-150px);}
}
.cloud.cloud-3 {
  animation: cloud_3 117s linear;
}
@keyframes cloud_3 {
  0%       {transform: scale(.45) translateX(1070px) translateY(23px);}
  20%      {transform: scale(.45) translateX(1700px) translateY(23px);}
  20.0001% {transform: scale(.45) translateX(0px) translateY(23px);}
  40%      {transform: scale(.45) translateX(1700px) translateY(23px);}
  40.0001% {transform: scale(.45) translateX(0px) translateY(23px);}
  60%      {transform: scale(.45) translateX(1700px) translateY(23px);}
  60.0001% {transform: scale(.45) translateX(0px) translateY(23px);}
  80%      {transform: scale(.45) translateX(1700px) translateY(23px);}
  80.0001% {transform: scale(.45) translateX(0px) translateY(23px);}
  100%     {transform: scale(.45) translateX(1500px) translateY(23px);}
}
.cloud.cloud-4 {
  animation: cloud_4 117s linear;
}
@keyframes cloud_4 {
  0%       {transform: scaleX(-1) scale(.58) translateX(0px) translateY(25px);}
  16.666%  {transform: scaleX(-1) scale(.58) translateX(-1200px) translateY(25px);}
  16.6661% {transform: scaleX(-1) scale(.58) translateX(0px) translateY(25px);}
  34.333%  {transform: scaleX(-1) scale(.58) translateX(-1200px) translateY(25px);}
  34.3331% {transform: scaleX(-1) scale(.58) translateX(0px) translateY(25px);}
  50%      {transform: scaleX(-1) scale(.58) translateX(-1200px) translateY(25px);}
  50.0001% {transform: scaleX(-1) scale(.58) translateX(0px) translateY(25px);}
  66.666%  {transform: scaleX(-1) scale(.58) translateX(-1200px) translateY(25px);}
  66.6661% {transform: scaleX(-1) scale(.58) translateX(0px) translateY(25px);}
  83.331%  {transform: scaleX(-1) scale(.58) translateX(-1100px) translateY(25px);}
  83.3311% {transform: scaleX(-1) scale(.58) translateX(0px) translateY(25px);}
  100%     {transform: scaleX(-1) scale(.58) translateX(-1100px) translateY(25px);}
}
